@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 20px;
  background: #000;
  color: #fff;
}
h1 {
    font-size: 59px;
}
p {
    font-size: 34px;
}
a {
    text-decoration: none;
}
.Link {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    text-align: center;
    border-radius: 40px;
}
.Blob {
    width: 1211;
    height: 1196;
    position: absolute;
    top: -400px;
    right: -500px;
}
.Hero {
    max-width: 1000px;
    margin-left: 20%;
    margin-top: 10%;
}
.Hero p {
    padding-bottom: 40px;
    max-width: 500px;
}
.AlbumCover {
    position: absolute;
    width: 457px;
    height: 457px;
    left: 55%;
    top: 182px;
    filter: drop-shadow(20px 20px 100px rgba(0, 0, 0, 0.25));
    border-radius: 43px;
}